body {
  background: url(/flappybird/assets/background.jpg);
  background-size: cover;
}

#canvas {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/flappybird/assets/loading_screen/background.jpg);
  background-size: cover;
}

