body {
  background: url(/flappybird/assets/background.jpg);
  background-size: cover;
}

#canvas {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/flappybird/assets/loading_screen/background.jpg);
  background-size: cover;
}

#loading_bar {
  display: block;
  margin: auto;
  position: relative;
  top: 180px;
  width: 300px;
}

#flappy_bird {
  display: block;
  margin: auto;
  position: relative;
  top: -30px;
  left: -240px;
  width: 170px;
}
